.timer1 {
    text-align: center;
    color:antiquewhite;
    background-image:url("digger.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-bottom: 30rem;
}
.style {
    background-color: darkslategrey;
    padding: 5rem;
}